<mat-toolbar color="primary">
  <mat-icon>speed</mat-icon>
  Formula Cannon
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav [fixedInViewport]="false" [opened]="true" [disableClose]="true" mode="side">
    <mat-list>
      <mat-list-item *ngFor="let sop of sops$ | async" [style.cursor]="'pointer'" (click)="selectSop(sop)">
        {{sop.name}}
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngIf="selectedSop">
      <mat-checkbox *ngFor="let item of selectedSop.items" color="primary">
        {{item.name}}
      </mat-checkbox>
    </ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>
